body {
    background-color: black;
    line-height: 1.5;
}

div {
    border: solid;
}

#header {
    text-align: center;
    background-color: whitesmoke;
}

#main {
    margin: auto;
    background-color: whitesmoke;
}

#blanks {
    text-align: center;
}
